<div class="main-body-container">
  <img [src]="imgUrl" alt="Image Not Found" class="main-body-image" />
  <div class="main-body-centered">
    <input
      type="text"
      [(ngModel)]="greetingMsg"
      (ngModelChange)="saveClickHandler()"
    />
    <h1 class="main-body-content">{{ greetingMsg }} {{ count }}</h1>
    <div class="main-body-buttons">
      <app-button
        [label]="incrementLabel"
        (increment)="onIncrement()"
      ></app-button>
      <app-button
        [label]="decrementLabel"
        (decrement)="onDecrement()"
      ></app-button>
    </div>
  </div>
</div>
