.Header__Container {
  background-color: rgb(164, 253, 161);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.Header__Heading {
  cursor: pointer;
}

.Header__Items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.Header__Item {
  margin: 0px 10px;
  font-size: 20px;
  cursor: pointer;
}
